body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8d9d9;
  background-image: url("img 5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ddb1b1;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #4c90af;
  color: rgb(231, 208, 208);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
}

.logo-name {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}

.main {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #86acda;
  color: white;
  text-align: center;
  padding: 10px 0;
}

